.product__grid {
  display: grid;
  align-items: baseline;
  padding: 25px;
}

@media (min-width: 640px) {
  .product__grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    padding: 13px;
  }
}

@media (min-width: 900px) {
  .product__grid {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (min-width: 1280px) {
  .product__grid {
    align-items: stretch;
    grid-template-areas:
      "bg-1 bg-2 bg-3"
      "bg-1 bg-4 bg-5"
      "bg-6 bg-6 bg-6";
  }

  .grid2 {
    grid-template-areas:
      "bg-2 bg-3 bg-1"
      "bg-4 bg-5 bg-1";
  }
}

.product {
  border: 1px solid rgba(189, 189, 189, 1);
  padding: 15px 20px;
  position: relative;
}

.collection_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.love-icon,
.add-to-cart-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  cursor: pointer;
  background-color: #f4f1f1;
  border-radius: 100%;
}

.shipping-banner {
  background-image: url("/banner.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 70px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 90px;
}

.shipping-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.shipping-banner button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(41, 41, 41, 1);
  border: 0;
  width: 100px;
  padding: 10px;
  text-transform: inherit;
  font-weight: 700;
  font-size: 1rem;
}
